# Keep the public directory in the repository, but not it's contents.
# public/ is where Hugo writes it's output; it's not part of the site source code
public/*

# Don't include EMACS backup files
*~

# Don't include the build lock file added to a recent version of Hugo
.hugo_build.lock
